.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.indexDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}