.ProjectDisplay  {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #16b540; */

}

.Projects h2 {
    /* color: #16b540; */
    font-size: 2rem;
}

.Projects p {
    font-size: 1.2rem;
}