.ProjectCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 12rem;
    position: relative;
    margin: 10px;
}


.ProjectCard img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 100%;
    /* background-color: #16b540; */
}

.divImg {
    opacity: 1;
    display: block;
    /* width: 100%; */
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    /* border-radius: 10%; */
    /* height: 100%; */
}



.TitleCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.TitleCard h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}


.ProjectCard:hover img {
    opacity: 0.4;
}

.ProjectCard:hover .TitleCard {
    opacity: 1;
}

.CardButton {
    border: none;
    margin: none;
    background-color:#16b540;
    color: white;
    padding: 0.5rem;
    border-radius: 0.8rem;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.CardButton:hover {
    background-color: lightgreen;
    color: black;
}

.tag {
    background-color: #16b540;
    color: white;
    font-size: 0.9rem;
    margin: 2px;
    Padding: 3px;
    border-radius: 6px;
}

.tag:hover {
    background-color: lightgreen;
    color: black;
}

