.sectionSkills {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    /* border: px solid black; */
    /* border-radius: 2%; */
    height: 100%;
    padding-bottom: 12%;
}

.divSkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
    margin: 1%;
    /* border-radius: 3%; */
    width: 33%;
    height: 55rem;
    /* height: 100%; */
}


.skillTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.skillTitle h2 {
    color: #16b540;
}

.skillTitle p {
    font-size: 1.2rem;
}


.skillList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skillList h3 {
    color: #16b540;
}

.skillList p {
    font-size: 1.2rem;
}

.firstHalf {
    height: 20rem;
    height: 40%;
    text-align: center;
}

.secondHalf {
    height: 25rem;
    /* height: 45%; */
    text-align: center;
    padding-bottom: 2rem;
}